:root {
    --primary-color: #007278;
    --secondary-color: #ffb612;
    --text-color: #333;
}

h1 {
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    color: var(--text-color);
    height: 100%;
}

header {
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
    padding: 1rem;
}
 h2 {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 5rem;
    text-align: center;
 }
section {
    margin-bottom: 20px;
    position: relative;
    background-color: lightgray;
    text-align: center;
    border-radius: 2rem;
}

footer{
    display: block;
    background-color: var(--primary-color);
    position: relative;
    color: aliceblue;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
}
/* Weather icon (large view) */
.weather h2::after {
    content: " ⛅";
    grid-column: 1/4;
}

.info {
    grid-column: 1/1;
}

/* MEDIA QUERY */
@media (min-width: 768px) {
    main {
        display: flex;
        gap: 20px;
    }

    section {
        flex: 1;
    }
}